.navbg {
	background-color: #FFB300 !important;
}

.white-text {
	color: white !important;
}

.logo {
	font-size: 26px;
}

.search{
	margin-right: 300px;
	margin-left: 50px;
	margin-top: 13px;
}

    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

.big {
	font-size: 50px;
}

.main-body{
	margin-top: 150px;
}